<h1>{{question.title}}</h1>
<h5>Score: {{question.score}}</h5>

{{{text-format question.body}}}

<h4>-{{question.author}}</h4>
{{edit-question question=question editQuestion="editQuestion" deleteQuestion="deleteQuestion" dontEdit="dontEdit"}}
<hr>

<h4 class='text-center'>Answers</h4>
{{#each question.answers as |answer|}}
<h5>Score: {{answer.score}}</h5>
  <h5>{{answer.author}} says:</h5>
  {{{text-format answer.text}}}
  <button {{action "deleteAnswer" answer}}>Too Dumb</button>
  <br><br>
  <hr>
{{/each}}
