<h1>{{model.title}}</h1>

<p>
  {{model.body}}
</p>
<h4>-{{model.author}}</h4>
{{edit-question question=model editQuestion="editQuestion" deleteQuestion="deleteQuestion"}}
<hr>

<h4>Answers: </h4>
{{#each model.answers as |answer|}}
  <h5>{{answer.author}} says:</h5>
  <p>"{{answer.text}}"</p>
{{/each}}
